/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 5%;
    height: 5%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    margin-right: 20px;
}

.header {
    background-color: #008000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    transition: background-color 0.3s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('https://cdn.pixabay.com/photo/2019/07/21/12/10/cow-4352623_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header h1 {
    font-size: 2em;
}

.main {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Form section */
.form-section {
    background-color: rgba(230, 230, 230, 0.771);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 40px;
}

.form-section .section-title {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

table {
    width: 100%;
    table-layout: fixed; /* Ensure table cells adjust to fit within the width */
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 2px solid #008000;
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping */
}

th {
    background-color: #f2f2f2;
    color: #008000;
}

td:first-child {
    padding-right: 10px;
    text-align: left;
    white-space: nowrap;
}

#cattleTable tbody tr:nth-last-child(-n+5) {
    background-color: #f2f2f2;
}

input[type="number"],
input[type="text"],
input[type="tel"],
select {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
select:focus {
    border-color: #1abc9c;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    display: none;
}

button {
    background-color: #008000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006400;
}

button i {
    margin-right: 5px;
}

#resetButton {
    background-color: #008000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #006400;
}

.home-button {
    background-color: #008000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.home-button:hover {
    background-color: #006400;
}

#deworming label {
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;
    color: #333;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Ensure footer is at the bottom */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

.popup.auto-fade {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.success {
    color: #008000;
}

.error {
    color: #ff0000;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.page-info {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background-color: #008000;
    padding: 12px 24px;
    border-radius: 5px;
}

.backward-btn,
.forward-btn {
    background-color: #008000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Queries for 414x896 Mobile Devices */
@media (max-width: 414px) {
    .header-content img {
        width: 15%; /* Adjust logo size for mobile phones */
    }

    .header h1 {
        font-size: 1.5em;
    }

    .container {
        padding: 0 10px;
    }

    .form-section {
        padding: 20px;
        border-radius: 8px;
    }

    input[type="number"],
    input[type="text"],
    input[type="tel"],
    select {
        padding: 10px;
    }

    button,
    #resetButton,
    .home-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .pagination {
        flex-direction: column;
    }

    .page-info {
        font-size: 12px;
        padding: 8px 16px;
    }

    /* Ensure table fits within screen */
    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    }

    table {
        width: 100%;
        table-layout: fixed; /* Ensure table cells adjust to fit within the width */
    }

    table th,
    table td {
        padding: 8px;
        font-size: 14px;
        word-wrap: break-word; /* Ensure text wraps within the cells */
    }
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .header-content img {
        width: 10%; /* Increase logo size for tablets */
    }
}

@media (max-width: 480px) {
    .header-content img {
        width: 15%; /* Further increase logo size for phones */
    }
}
