/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 5%;
    height: 5%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    margin-right: 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2019/07/21/12/10/cow-4352623_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #008000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    transition: background-color 0.3s ease;
}

.header h1 {
    font-size: 2em;
}

.header i {
    margin-right: 5px;
}

.main {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

.section-title {
    color: #008000;
    margin-bottom: 20px;
    text-align: center;
}

.form-section {
    background-color: rgba(230, 230, 230, 0.771);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 100%;
    overflow: hidden;
}

.table-container {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px; /* Adjust this value to control the height */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    min-width: 1200px; /* Add this to force horizontal scroll */
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 2px solid #008000;
}

th {
    background-color: #f2f2f2;
    color: #008000;
}

td:first-child {
    padding-right: 10px;
    text-align: left;
    white-space: nowrap;
}

#oldRecordsTable tbody tr:nth-last-child(-n+5) {
    background-color: #f2f2f2;
}

input[type="number"],
input[type="text"],
input[type="date"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus,
input[type="text"]:focus,
input[type="date"]:focus {
    border-color: #1abc9c;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    display: none;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

#submitButton,
#resetButton {
    background-color: #008000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitButton:hover,
#resetButton:hover {
    background-color: #006400;
}

#submitButton i,
#resetButton i {
    margin-right: 5px;
}

.home-button {
    background-color: #008000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.home-button:hover {
    background-color: #006400;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

.popup.auto-fade {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.success {
    color: #008000;
}

.error {
    color: #ff0000;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.page-info {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background-color: #008000;
    padding: 12px 24px;
    border-radius: 5px;
}

.backward-btn,
.forward-btn {
    background-color: #008000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header-content img {
        width: 60px;
    }
}

@media (max-width: 480px) {
    .header-content img {
        width: 50px;
    }

    .table-container {
        overflow-x: scroll;
    }

    #oldRecordsTable {
        min-width: 600px;
    }

    #oldRecordsTable th,
    #oldRecordsTable td {
        white-space: nowrap;
    }
}
